tr th {
  text-align: center;
}

td {
  vertical-align: middle !important; 
}

.center {
  text-align: center;
}

h1 a:link {
  text-decoration: none;
}

textarea {
  font-family: Consolas, "Courier", "Courier New", monospace;
}

.navbar-nav li {
  /*padding: 0 10px 0 10px;*/
  width: 100px;
  text-align: center;
}