/**
 * COLOR VARIABLES
 */
$white: #FFFFFF;
$red: #F74E48;
$darker-grey: #CCCCCC;
$dark-grey: #E4E4E4;
$light-gray: #EFEFEF;
$lighter-gray: #F5F5F5;

/**
 * STYLES
 */
html, body {
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

#item-list {
    border-right: 1px $darker-grey solid;
    background-color: $light-gray;
}
#item-list .md-subheader {
    background-color: $light-gray;
}

.form-card {
    background-color: $lighter-gray;
}

.code {
  font-family: "Consolas", "Courier", "Courier New", monospace;
  font-size: 0.8em;
  line-height: 20px !important;
}

.active-pane .md-button {
    background-color: $dark-grey;
}

.fab-new {
    position: absolute;
    margin-top: -34px;
    margin-left: -100px;
    left:100%;
    z-index: 9999;
}

.error-message {
    color: $white;
    background-color: $red;
    padding: 10px;
}

.log-details {
    line-height: 40px;
}

.log-details > div:nth-child(odd) {
    background-color: $lighter-gray;
}