<!DOCTYPE html>
<!--
  * Mock Server *

  A simple mock server that responds to dynamic routes with templated responses.

  Author: Victor Kohl Tavares
-->
<html ng-app="MockServerApp">
<head>
  <title>Mock Server</title>
  <base href="/">

  <!-- COMPONENTS -->
  <link rel="stylesheet" type="text/css" href="components/angular-material/angular-material.min.css">

  <!-- APP -->
  <% if(process.env.NODE_ENV === 'production') { %>
  <link rel="stylesheet" href="css/style.min.css">
  <% } else { %>
  <!-- include: "type": "css", "files": "stylesheets/**/*.css" -->
  <% } %>
</head>
<body>

  <div id="main-view">
    <div ng-include="'partials/_nav.html'"></div>
    <div layout="row" layout-align="start start">
      <div flex="15" ng-include="'partials/_left_menu.html'"></div>
      <div flex ui-view></div>
    </div>
  </div>

  <!-- COMPONENTS -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="components/angular-messages/angular-messages.min.js"></script>
  <script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="components/angular-aria/angular-aria.min.js"></script>
  <script type="text/javascript" src="components/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- APP -->
  <% if(process.env.NODE_ENV === 'production') { %>
  <script type="text/javascript" src="js/app.min.js"></script>
  <% } else { %>
  <!-- include: "type": "js", "files": "javascripts/**/*.js" -->
  <% } %>
</body>
</html>