<!DOCTYPE html>
<!--
  * Mock Server *

  A simple mock server that responds to dynamic routes with templated responses.

  Author: Victor Kohl Tavares
-->
<html ng-app="MockServerApp">
<head>
  <title>Mock Server</title>
  <base href="/">

  <% if(process.env.NODE_ENV === 'production') { %>
  <link rel="stylesheet" href="css/app.min.css">
  <% } else { %>
  <!-- COMPONENTS -->
  <link rel="stylesheet" type="text/css" href="components/angular-material/angular-material.css">

  <!-- APP -->
  <!-- include: "type": "css", "files": "stylesheets/**/*.css" -->
  <% } %>
</head>
<body>

  <div id="main-view" layout="column">
    <div ng-include="'partials/_nav.html'"></div>
    <div id="main-content" layout layout-align="center start" ui-view></div>
  </div>

  <% if(process.env.NODE_ENV === 'production') { %>
  <script type="text/javascript" src="js/app.min.js"></script>
  <% } else { %>
  <!-- COMPONENTS -->
  <script type="text/javascript" src="components/angular/angular.js"></script>
  <script type="text/javascript" src="components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="components/angular-messages/angular-messages.js"></script>
  <script type="text/javascript" src="components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="components/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.js"></script>

  <!-- APP -->
  <!-- include: "type": "js", "files": "javascripts/**/*.js" -->
  <% } %>
</body>
</html>