<form name="formMock" novalidate>
  <md-card class="form-card">
    <server-message></server-message>

    <md-card-content>
      <div layout="row">

        <!-- METHOD -->
        <md-select placeholder="Method" ng-model="vm.mock.method" required>
          <md-option value="GET">GET</md-option>
          <md-option value="POST">POST</md-option>
          <md-option value="PUT">PUT</md-option>
          <md-option value="PATCH">PATCH</md-option>
          <md-option value="DELETE">DELETE</md-option>
          <md-option value="HEAD">HEAD</md-option>
        </md-select>

        <!-- PATH -->
        <md-input-container flex>
          <label>Path</label>
          <input name="path" ng-model="vm.mock.path" type="text" required autofocus
                  ng-pattern="/^[a-zA-Z0-9_]+(\/*[a-zA-Z0-9_])*$/" />

          <div ng-messages="formMock.path.$error" ng-show="formMock.path.$dirty">
            <div ng-message="required">This is required!</div>
            <div ng-message="pattern">Path cannot start with "/" and must consist of letters, numbers, or underscore (_).</div>
          </div>
        </md-input-container>

        <!-- RESPONSE CODE -->
        <md-input-container>
          <label>Response Code</label>
          <input name="rcode" type="number" ng-model="vm.mock.status" required ng-pattern="/^[0-9]+$/"
                  style="max-width: 100px" />

          <div ng-messages="formMock.rcode.$error" ng-show="formMock.rcode.$dirty">
            <div ng-message="required">This is required!</div>
            <div ng-message="number">This must be a number.</div>
            <div ng-message="pattern">This must be a number.</div>
          </div>
        </md-input-container>

      </div>

      <!-- HEADERS -->
      <md-chips ng-model="vm.mock.headers" placeholder="Enter a header" flex
                secondary-placeholder="+Header"></md-chips>
      
      <!-- TEMPLATE -->
      <md-input-container>
        <label>Template</label>
        <textarea ng-model="vm.mock.template" rows="12" class="code" spellcheck="false"></textarea>
      </md-input-container>

    </md-card-content>

    <!-- BUTTONS -->
    <div class="md-actions" layout-padding layout="row" layout-align="end center">
      <md-button class="md-warn md-raised" ng-show="vm.mock._id" confirmed-click="vm.delete()"
                  confirm-click="Are you sure you want to delete this Mock?">Delete</md-button>
      <div flex></div>
      <md-button class="md-primary md-raised" ng-click="vm.save()" ng-disabled="formMock.$invalid">Save</md-button>
    </div>
  </md-card>
</form>