<md-toolbar class="md-whiteframe-z1" id="top-toolbar" layout="row" layout-align="center end" 
            ng-controller="TopToolbarController as ttc">
  <div flex="80" layout="column">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="images/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>{{ ttc.title }}</span>
        </h2>
        <span flex></span>
    </div>
    <md-tabs md-stretch-tabs="always" class="md-primary md-hue-2" md-selected="ttc.tabIndex">
      <md-tab aria-controls="Mocks" ui-sref="mocks.index">
        <md-tab-label>Mocks</md-tab-label>
      </md-tab>
      <md-tab aria-controls="Helpers" ui-sref="helpers.index">
        <md-tab-label>Helpers</md-tab-label>
      </md-tab>
      <md-tab aria-controls="Logs" ui-sref="logs.index">
        <md-tab-label>Logs</md-tab-label>
      </md-tab>
    </md-tabs>
  </div>
</md-toolbar>