<form name="formHelper" novalidate>
  <md-card class="form-card">
    <server-message></server-message>

    <md-card-content>

      <!-- NAME -->
      <md-input-container flex>
        <label>Name</label>
        <input name="name" ng-model="vm.helper.name" type="text" required autofocus />

        <div ng-messages="formHelper.name.$error" ng-show="formHelper.name.$dirty">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>

      <!-- TEMPLATE -->
      <md-input-container>
        <label>Function code</label>
        <textarea name="fn" ng-model="vm.helper.fn" rows="15" 
                  class="code" spellcheck="false" required></textarea>

        <div ng-messages="formHelper.fn.$error" ng-show="formHelper.fn.$dirty">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>

    </md-card-content>

    <!-- BUTTONS -->
    <div class="md-actions" layout-padding layout="row" layout-align="end center">
      <md-button class="md-warn md-raised" ng-show="vm.helper._id" confirmed-click="vm.delete()"
                  confirm-click="Are you sure you want to delete this Helper?">Delete</md-button>
      <div flex></div>
      <md-button class="md-primary md-raised" ng-click="vm.save()" ng-disabled="formHelper.$invalid">Save</md-button>
    </div>
  </md-card>
</form>